<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pr_idi.mydatabaseexample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Filmania"
        android:supportsRtl="true"
        android:screenOrientation="landscape"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />
        </activity>
        <activity
            android:name=".activity.CreationActivity"
            android:label="@string/title_activity_creation"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activity.RecycleViewForYear"
            android:label="@string/title_activity_recycle_view_for_year"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>